%h1 Assets

#assets
  - assets.each do |asset|
    .asset
      = image_tag asset.attachment_url(:thumb).to_s
      .link= link_to(asset.name, asset)
      - if user_signed_in?
        .actions
          = link_to('Destroy', asset, :method => :delete, :confirm => "Yeah?")

  - if user_signed_in?
    .actions
      = link_to 'Add Asset', new_asset_path
