%ul#posts
  - posts.each do |post|

    %li.post

      %h2= post.title

      .byline
        <strong>By:</strong> #{post.author}

      .body
        = post.body

      .actions
        = link_to('Destroy', post, :method=>:delete) 
